version: "3.9"

services:
  db:
    image: postgres:16
    container_name: delivery-postgres
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: delivery
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d delivery"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata: