spring:
  application:
    name: store

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        prefetch: 5
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000ms
          multiplier: 2.0
          max-interval: 5s
  datasource:
    url: jdbc:postgresql://localhost:5433/storedb
    username: storeuser
    password: storepass
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082

logging:
  level:
    org.springframework.amqp: DEBUG

delivery:
  dlq:
    consumer:
      enabled: true