spring:
  application:
    name: store

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    publisher-confirm-type: correlated
    publisher-returns: true

    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        prefetch: 5
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000ms
          multiplier: 2.0
          max-interval: 5s

    template:
      mandatory: true
      retry:
        enabled: true
        initial-interval: 1000ms
        max-attempts: 3
        multiplier: 2.0
        max-interval: 10000ms

  datasource:
    url: jdbc:postgresql://localhost:5433/storedb
    username: storeuser
    password: storepass
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8082

logging:
  level:
    org.springframework.amqp: DEBUG

security:
  jwt:
    secret: ${JWT_SECRET:dev-only-not-for-prod}
    expiration-minutes: ${JWT_EXP_MINUTES:60}
