spring:
  application:
    name: deliveryco
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  datasource:
    url: jdbc:postgresql://localhost:5434/deliverydb
    username: deliveryuser
    password: deliverypass
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    org.springframework.amqp: DEBUG

server:
  port: 8080
