spring:
  application:
    name: deliveryco
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    publisher-confirm-type: correlated
    publisher-returns: true

    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        prefetch: 20
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000ms
          multiplier: 2.0
          max-interval: 5s

    template:
      mandatory: true
      retry:
        enabled: true
        initial-interval: 1000ms
        max-attempts: 3
        multiplier: 2.0
        max-interval: 10000ms

  datasource:
    url: jdbc:postgresql://localhost:5434/deliverydb
    username: deliveryuser
    password: deliverypass
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    org.springframework.amqp: DEBUG

server:
  port: 8080


store:
  api:
    url: http://localhost:8082

  alert:
    endpoint: /api/delivery/alert

deliveryco:
  simulation:
    pickup-delay-ms: 15000
    status-interval-ms: 5000
    lost-percentage: 5