spring:
  application:
    name: deliveryco
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

    listener:
      simple:
        acknowledge-mode: auto
        default-requeue-rejected: false
        prefetch: 5
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000ms
          multiplier: 2.0
          max-interval: 5s

  datasource:
    url: jdbc:postgresql://localhost:5434/deliverydb
    username: deliveryuser
    password: deliverypass
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    org.springframework.amqp: DEBUG

server:
  port: 8080


delivery:
  request:
    dlq:
      enabled: true